<section id="features">
  <h1 style="font-size:32px;">
    <span style="color: black;">Courses</span>
    <span style="color: #f93;"> We Offer</span>
  </h1>

  <p>Here are our  wide variety of diverse courses to cater to the unique interests and career aspirations of our students</p>

  <div class="fea-base">
    <div class="fea-box" id="fea-box-1">
      <i class="fas fa-graduation-cap"></i>
      <h3>Bachelor of Technology - B.Tech</h3>
      <p>
        We have various branches within the field B.Tech, offering students the opportunity to delve into various disciplines such as Computer Science and Engineering (CSE), Information Technology (IT) and BioInformatics (BI)
      </p>
    </div>

    <div class="fea-box" id="fea-box-2">
      <i class="fa-solid fa-book-bookmark"></i>
      <h3>Bachelor of Computer Application - BCA</h3>
      <p>
        The Bachelor of Computer Applications (BCA) course at Dr. APJ Abdul Kalam Women’s Institute of Technology (AKWIT) is designed to equip students with the knowledge and skills required to excel in the rapidly evolving world of Information Technology. Located within the serene campus of Lalit Narayan Mithila University, AKWIT offers a nurturing environment where aspiring tech professionals can thrive.
      </p>
    </div>

    <div class="fea-box" id="fea-box-3">
      <i class="fas fa-award"></i>
      <h3>Master of Computer Applications - MCA</h3>
      <p>
        The MCA program at Dr. APJ Abdul Kalam Women’s Institute of Technology is an excellent choice for women looking to advance their careers in the IT sector. With a comprehensive curriculum, expert faculty, cutting-edge facilities, and strong industry connections, APJAKWIT provides a nurturing environment where students can thrive and achieve their professional goals. Whether you aim to become a software architect, data scientist, or IT manager, the MCA course at APJAKWIT offers the knowledge and experience needed to excel in the rapidly evolving tech industry.
      </p>
    </div>
    </div>
</section>
