<nav class="navbar">
  <button class="navbar-toggle" (click)="toggleMenu()">☰</button>
  <ul class="navbar-menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/home">People</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/admission">Admission</a></li>
    <li><a href="https://lnmu.ac.in/">University</a></li>
    <li><a href="http://student-portal.witlnmu.ac.in">Student Portal</a></li>
    <li><a routerLink="/student-desk">Student Desk</a></li>
    <li><a routerLink="/aproval">Approvals</a></li>
    <li><a routerLink="/alumni-registration">Alumni</a></li>
    <li><a routerLink="/chatbot">Chatbot</a></li>
  </ul>
</nav>








