<header class="header">
  <div class="witlogo">
    <!-- <img src="assets/logo_wit.png" alt="College Logo">
  </div>
    <div class="content">
        <h1> <span style="color: green;">Dr. APJ Abdul Kalam Women's Institute of Technology</span></h1>
    </div>
    <div class="universitylogo">
        <img src="assets\logoLNMU.jpg" alt="university logo">
    </div>
  <div class="sbitlogo2">
    <img src="assets\download (13).png " alt="Sbitlogo" > -->
    <img src="assets\Article Cover Image.png" alt="banner" width="100%"
    height="auto">
</div>
</header>



