<div class="approval-container">
    <h1>Approvals</h1>
  
    <div class="approval-section">
      <h2>
        <a href="https://www.aicte-india.org/">AICTE</a></h2>
      <p>Our institution is approved by the All India Council for Technical Education (AICTE). AICTE is the statutory body and a national-level council for technical education, under the Department of Higher Education, Ministry of Education.</p>
      <img src="assets/AICTE.jpg" alt="AICTE Logo" class="approval-logo">
    </div>
  
    <div class="approval-section">
      <h2><a href="https://state.bihar.gov.in/dst/CitizenHome.html">DST Bihar</a></h2>
      <p>The Department of Science & Technology (DST), Bihar, has granted us the approval, recognizing our commitment to providing high-quality technical education in the region.</p>
      <img src="assets/dst.png" alt="DST Bihar Logo" class="approval-logo">
    </div>
  </div>
  