<div class="name">
  <div class="abr">
    <h3 style="text-align: center;">
        <a id="abr" href="https://lnmu.ac.in/" style="text-decoration: underline;">
            A unit of Lalit Narayan Mithila University
        </a>
    </h3>
</div>

  </div>

<app-header></app-header>
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-imagesliding></app-imagesliding>
<app-aboutsbit></app-aboutsbit>
<app-courses></app-courses>
<app-marquee1></app-marquee1>
<!-- <app-aproval></app-aproval> -->
<section class="whysbit">
  <div class="content">

    <div class="section-title">
      <h2 style="font-size: 34px;"> Why to choose <span style="color: rgb(239, 127, 15)"> APJAKWIT</span> </h2>
      <p>There are many reasons for which you need to choose our college for the best academic career </p>
    </div>

    <div class="row">

      <div class="box">
        <div class="image">
          <img src="assets\save-money.gif" alt=""/>
        </div>

        <h4>Affordable</h4>
        <p>Our college fee is exceptionally affordable, making quality education accessible to a wide range of students.</p>
      </div>

      <div class="box">
        <div class="image">
          <img src="assets\education.gif" alt=""/>
        </div>

        <h4>Quality Education</h4>
        <p>Experienced and motivated faculty using latest techniques in teaching as well as self-development.</p>
      </div>

      <div class="box">
        <div class="image">
          <img src="assets\Placement job.gif" alt=""/>
        </div>

        <h4>Placement</h4>
        <p>Our Training and placement cell facilitates students to choose their career with a variety of choices for growth & success. </p>
      </div>
    </div>
  </div>
</section>
<app-facilities></app-facilities>
<app-marquee2></app-marquee2>
<app-boxes></app-boxes>
<app-logos></app-logos>
<app-fter></app-fter>
















