<section class="facilities">
  <div class="title">
    <h1 style="font-size: 32px;"> Our <span style="color: #f93;"> Facilities</span> </h1>
  </div>
  <div class="description">
    <p>There are many reasons for which you need to choose our college for the best academic career </p>
  </div>
  <div class="row">
    <div class="facilities-col">
      <img src="assets\library.png" alt="" class="facility-img">
      <h3>World Class Library</h3>
      <p>APJAKWIT has an excellent collection of books and journals on Management, Computer Sciences & other subjects with over 17,500+ books &amp; 36 International.</p>
</div>
    <div class="facilities-col">
      <img src="assets\lab.png" alt="" class="facility-img">
      <h3>Lab facility</h3>
      <p>APJAKWIT has 150 computers in four labs with updated configuration &amp; Internet connectivity also available.</p>
    </div>
    <div class="facilities-col">
      <img src="assets\sports-icon.png" alt="" class="facility-img">
      <h3>Sports</h3>
      <p>APJAKWIT students are sponsored to various inter college sports/cultural/literary activities. The institute organizes Cultural events and annual sports meet every year.</p>
    </div>
  </div>
</section>

