<div style="background-color: white; padding: 10px; margin-top: 40px; margin-left: 200px; margin-right: 200px;">
  <section style="display: flex; justify-content: space-between;">
      <img src="assets\download (13).png" alt="" style="margin-right: 5px; width: 200px; height: 200px;">
      <img src="assets\wit_logo.jpg" alt="" style="margin-right: 5px; width: 200px; height: 200px;">
      <img src="assets\download (7).jpg" alt="" style="margin-right: 5px; width: 200px; height: 200px;">
      <img src="assets\lnmu_logo.jpg" alt="" style="width: 200px; height: 200px;">
  </section>
</div>
