<div class="bg-image">
<div class="about-container">
    <h1>About institution</h1>
  
    <section class="history">
      <h2>Our History</h2>
      <p>
        Dr. APJ Abdul Kalam Women's Institute of Technology was established with the vision of empowering women through education. 
        Over the years, it has grown into a renowned institution, providing high-quality education in the fields of engineering, technology, and applied sciences.
      </p>
    </section>
  
    <section class="vision">
      <h2>Our Vision</h2>
      <p>Our vision at the Women's Institute of Technology in Darbhanga, Bihar, is to create a world where women are at the forefront of technological advancements, leading with excellence and making significant contributions to society. We envision a future where every woman has equal opportunities to pursue education and careers in STEM (Science, Technology, Engineering, and Mathematics), thereby unlocking their full potential and shaping a more inclusive and prosperous society.
        </p>
    </section>

    <section class="mission">
        <h2>Our Mission</h2>
        <ul>
            <li><h4>Promoting STEM Education: </h4>Our mission is to provide quality education and training in STEM fields to women in Darbhanga and beyond, empowering them with the knowledge, skills, and confidence to excel in diverse technological domains.</li>
            <li><h4>Fostering Innovation and Research: </h4>We are committed to fostering a culture of innovation, curiosity, and research among our students, encouraging them to explore new ideas, solve complex problems, and make meaningful contributions to the advancement of science and technology.</li>
            <li><h4>Empowering Women in Technology: </h4>Through mentorship, support networks, and skill-building initiatives, we aim to empower women to pursue careers in technology, break down gender barriers, and become leaders and innovators in their chosen fields.</li>
            <li><h4>Promoting Diversity and Inclusion: </h4>We believe in the power of diversity to drive innovation and creativity. Our mission is to promote diversity and inclusion in STEM fields by actively recruiting and supporting women from diverse backgrounds and communities.</li>
            <li><h4>Community Engagement and Outreach: </h4> are committed to engaging with the local community and fostering partnerships with industry, government, and non-profit organizations to create opportunities for women in STEM, address societal challenges, and contribute to the economic and social development of the region.</li>
          </ul>
      </section>
  
    <!-- <section class="values">
      <h2>Core Values</h2>
      <ul>
        <li>Excellence in Education</li>
        <li>Empowerment of Women</li>
        <li>Inclusivity and Diversity</li>
        <li>Innovation and Research</li>
        <li>Social Responsibility</li>
      </ul>
    </section> -->
  
    <section class="campus-life" style="color: white;">
      <h2>Dr. A.P.J. Abdul Kalam</h2>
      <div class="image-text-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/A._P._J._Abdul_Kalam.jpg/330px-A._P._J._Abdul_Kalam.jpg" alt="">
      <p class="text">In his words, "When women are educated, their countries become stronger and more prosperous." At the Women's Institute of Technology in Darbhanga, Bihar, we are inspired by Dr. Kalam's vision and commitment to women's empowerment, and we strive to carry forward his legacy by equipping women with the skills, knowledge, and opportunities they need to succeed in STEM fields and beyond.
      </p>
    </div>
    </section>
  </div>
</div>