<div class="career-container">
    <h1>Career</h1>
  
    <div class="advertisement">
      <h2>Career at APJAKWIT</h2>
      <p>
        Presently the Dr. A.P.J. Abdul Kalam Women's Institute of Technology, Darbhanga is being mentored by LNMU, Darbhanga. Being the academic mentor, faculty recruitment for WIT is also managed by LNMU. The institute invites applications from motivated candidates with research expertise in all areas of Computer Science, Computer Application, Bioinformatics and Information Technology. Suitable candidates must have a doctorate in a relevant discipline. We have openings at the levels of Assistant Professor, Associate Professor, and Professor. Visiting faculty positions are also available for short or long term visits. To apply, <a href="mailto:directorwit@yahoo.com">E-mail us</a> a curriculum vitae, a publication list, a one-page summary of research plans, a statement of teaching interests, and the names of three references (with contact information).
      </p>
    </div>
  </div>
  