<div class="faq-container">
    <h1>FAQ's</h1>  
  
    <div class="courses">
      <div class="course-card">
        <h3>Q1: What does it mean that Dr. APJ Abdul Kalam Women's Institute of Technology is accredited with a NAAC B++ grade?</h3>
        <p>
            Our institution has been accredited with a NAAC B++ grade, which reflects our commitment to providing quality education. The National Assessment and Accreditation Council (NAAC) awards this grade based on various parameters such as curriculum, teaching-learning processes, research, infrastructure, and student support services. A B++ grade signifies that the institution meets high standards of excellence in these areas.
        </p>
      </div>
  
      <div class="course-card">
        <h3>Q2: How does the Placement Control Cell support students in securing jobs?</h3>
        <p>
            Our Placement Control Cell is dedicated to ensuring that students have access to the best career opportunities. The cell works closely with industry partners to organize campus recruitment drives, internships, and training programs. We also offer career counseling, resume building workshops, and mock interviews to prepare our students for the competitive job market. Our consistent record of successful placements is a testament to the effectiveness of our Placement Control Cell.
        </p>
      </div>
  
      <div class="course-card">
        <h3>Q3: What measures are in place to prevent ragging on campus?        </h3>
        <p>
            Dr. APJ Abdul Kalam Women's Institute of Technology has a strict anti-ragging policy to ensure a safe and welcoming environment for all students. Ragging in any form is strictly prohibited, and our Anti-Ragging Committee actively monitors and addresses any such issues. We conduct regular awareness programs and have a zero-tolerance policy towards ragging. Students can report any incidents anonymously, and swift action is taken to address any complaints.
        </p>
      </div>
  
      <div class="course-card">
        <h3>Q4: How does the institution promote women empowerment?</h3>
        <p>
            Empowering women is at the core of our mission. Our institution offers various programs and initiatives aimed at promoting women's education, leadership, and professional development. We provide mentorship, skill development workshops, and networking opportunities to help our students build confidence and achieve their full potential. Additionally, we organize seminars, guest lectures, and events that focus on issues related to women’s rights and gender equality.
        </p>
        </div>
    </div>
  </div>
