<section class="marquee-section">
  <div class="marquee-container">
    <div class="title">
      <h2 style="font-size: 32px;"> Our <span style="color: #f93"> Recruiters</span> </h2>
    </div>
    <div class="marquee-row">
      <marquee direction="left">
        <img src="assets\image21.png" alt="Natural" class="marquee-img" />
        <img src="assets\download (2).png" alt="Natural" class="marquee-img" />
        <img src="assets\download (5).png" alt="Natural" class="marquee-img" />
        <img src="assets\download.png" alt="Natural" class="marquee-img" />
        <img src="assets\Collebra(1).png" alt="Natural" class="marquee-img" />
      </marquee>
    </div>
    <div class="marquee-row">
      <marquee direction="right">
        <img src="assets\HCL-logo (1).png" alt="Natural" class="marquee-img" />
        <img src="assets\images (1).png" alt="Natural" class="marquee-img" />
        <img src="assets\download (6).png" alt="Natural" class="marquee-img" />
        <img src="assets\download (3)-PhotoRoom.png-PhotoRoom.png" alt="Natural" class="marquee-img" />
        <img src="assets\download (1).png" alt="Natural" class="marquee-img" />
      </marquee>
    </div>
  </div>
</section>



