<div class="reservation-container">
    <h1>Reservation Of Seat</h1>
    <table class="reservation-table">
      <tr>
        <td>Economically Weaker Section (EWS)</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Backward Class (BC)</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>Extremely Backward Class (EBC)</td>
        <td>18%</td>
      </tr>
      <tr>
        <td>Schedule Caste (SC)</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>Schedule Tribes (ST)</td>
        <td>01%</td>
      </tr>
    </table>
    <p class="note">
      10% seats are reserved under NRI/Payment quota seats. 5% of seats are reserved for wards of permanent employees of Lalit Narayan Mithila University, Darbhanga (wife or unmarried daughter), Ward Certificate from Employer and affidavit of the employee must be enclosed with Application Form.
    </p>
    <p class="note">
      Candidates belonging to reserved category and selected under General category will not be treated/counted under reserved quota.
    </p>
  </div>
  